body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}


input[type="submit"] {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    margin-top: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

input[type="submit"]:hover {
    border-radius: 50px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    animation: sombra 2s infinite alternate;
}
@keyframes sombra{
    from{
        box-shadow: 0px 0px 5px rgb(255, 255, 255);
    }
    to{
        box-shadow: 0px 0px 10px rgb(255, 255, 255);
    }

}
.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #ffffff;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #ffffff, #000000);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #ffffff;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
