* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
  }
  .cart {
    width: 30px;
    height: 30px;
    background-image: url(../assets/icons8-carrinho-de-compras-30.png);
  }
  .cart:hover{
    transition: 50ms linear;
    transform: scale(1.2);
  }
  .fav {
    width: 30px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-image: url(../assets/icons8-coração-30.png);
  }
  .fav:hover{
    transition: 50ms linear;
    transform: scale(1.2);
  }
  .fav:active{
    background-image: url(../assets/icons8-coração-30\ click.png);
  }
  .logo {
    margin-left: 150px;
    height: 70px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  .conteiner{
    display: flex;
    gap: 20px;
    transition: 100ms linear;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li {
    display: inline-block;
    margin-right: 20px;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 5px 12px;
    margin-left: 100px;
    width: 300px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 300ms linear;
}
.pesquisa:focus{
    border-radius: 30px;
}
.pesquisa input[type="search"] {
    border: none;
    outline: none;
    padding: 5px;
    flex: 1;
    font-size: 16px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #ffffff;
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
li{
    list-style: none;
}
a{
  text-decoration: none;
}
#login, #criar{
  display: flex;
  justify-content: center;
  width: 100px;
  height: 40px;
}
#criar button{
  width: 100%;
  height: 100%;
  text-decoration: none;
}
#login button{
  width: 100%;
  height: 100%;
  text-decoration: none;
}
button:hover{
  transform: scale(1.1);
}
.nav-list {
    list-style: none;
    display: flex;
}
  
.nav-list li {
    letter-spacing: 3px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #000000;
}
#video-background {
    width: 100%;
    max-height: 100%; 
    object-fit: cover; 
}
.filtro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    width: 300px;
}
.filtro h2{
    margin-top: 10px;
}

.filtro li{
    margin-top: 5px;
}
section{
    display: flex;
    justify-content: start;
    height: 600px;
    margin-top: 50px;
}
.catalogo{
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 1400px;
    height: 600px;
    overflow-y: scroll;
    
}
h1{
    font-family: Ga Maamli;
    font-weight: 200;
    transform: translateZ(10px);
}
.catalogo ul{
    display: flex;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0);
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.conteinertenis{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
    box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.418);
    color: #000000;
    width: 250px;
    height: 450px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
#tenis4{
  background-color: rgba(189, 0, 0, 0.925);
}
#tenis3{
  color: #ffffff;
  background-color: #000000;
}
.conteinertenis h2{
    margin-top: 20px;
    font-size: 20px;
    transform: translateZ(10px);
}

.conteinerimg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-left: -50px;
    transform: translateZ(70px);
}
#tenis{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transform: rotate(-40deg);
}
.conteinerbtn{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 100px;
    transform: translateZ(10px);
}
button{
    height: 15px;
    width: 15px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    transition: 50ms linear;
}
.conteinerbtn button:hover{
    transform: scale(1.2);
}
@keyframes brilho {
    from{
box-shadow: 0 0 0 green;
    }
    to{
        box-shadow: 0 0 10px green;
    }
}
.btncomprar{
    height: 50px;
    width: 200px;
    margin-top: 20px;
    transform: translateZ(20px);
    transition: 100ms linear;
}
.btncomprar:hover{
    border: 0px;
    color: white;
    background-color: green;
    animation: brilho 1s infinite alternate;
}
#preto{
    background-color: rgb(0, 0, 0);
}
#azul{
    background-color: rgb(0, 0, 255);
}
#verde{
    background-color: rgb(20, 151, 42);
}
#branco{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}
#red{
  background-color: #bd0000ec;
  border: 2px solid rgb(0, 0, 0);
}
.heart-container {
    --heart-color: rgb(255, 91, 137);
    left: 40%;
    position: relative;
    width: 20px;
    height: 20px;
    transition: .3s;
    transform: translateZ(3px);
  }
  
  .heart-container .checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
  }
  
  .heart-container .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heart-container .svg-outline,
          .heart-container .svg-filled {
    fill: var(--heart-color);
    position: absolute;
  }
  
  .heart-container .svg-filled {
    animation: keyframes-svg-filled 1s;
    display: none;
  }
  
  .heart-container .svg-celebrate {
    position: absolute;
    animation: keyframes-svg-celebrate .5s;
    animation-fill-mode: forwards;
    display: none;
    stroke: var(--heart-color);
    fill: var(--heart-color);
    stroke-width: 2px;
  }
  
  .heart-container .checkbox:checked~.svg-container .svg-filled {
    display: block
  }
  
  .heart-container .checkbox:checked~.svg-container .svg-celebrate {
    display: block
  }
  
  @keyframes keyframes-svg-filled {
    0% {
      transform: scale(0);
    }
  
    25% {
      transform: scale(1.2);
    }
  
    50% {
      transform: scale(1);
      filter: brightness(1.5);
    }
  }
  
  @keyframes keyframes-svg-celebrate {
    0% {
      transform: scale(0);
    }
  
    50% {
      opacity: 1;
      filter: brightness(1.5);
    }
  
    100% {
      transform: scale(1.4);
      opacity: 0;
      display: none;
    }
  }
footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #000000;
    height: 400px;
}
span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 25%;
  width: 50%;
  height: 250px;
  background: radial-gradient(circle, #3b0088, #6e00aa, #000);
  overflow: hidden;
}
span img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  animation: girar 2s ease-in-out alternate infinite;
  transform-origin: center;
}
@keyframes girar {
  from{
    transform: scale(1.0);
    rotate: 10deg;
  }
  to{
    transform: scale(1.2);
    rotate: -10deg;
  }
}
